
@{
    ViewData["Title"] = "Info";
}
<br />
<br />
<br />
<br />
<h1 style="text-align:center">Application Info</h1>
<br />
<br />
<div class="centered">
    <h2 style="text-align:left">Tech Stack</h2>
    <b>Front-End</b>
    <ul>
        <li>Boostrap</li>
        <li>AngularJs</li>
    </ul>
    <b>Back-End</b>
    <ul><li>ASP.NET Core 5(Visual studio 2019)</li>
    <li>MySQL(Microsoft SSMS)</li></ul>
    <br />
    <h2 style="text-align:left">
        Salient Features
    </h2>
    <ul>
        <li>Cookie Authenticaation</li>
        <li>Role Driven Application</li>
        <li>Stores Password in Hashed Method</li>
        <li>Prevention of Cross Site scripting by Middleware</li>
        <li>Used Minifier(Nuget Package) for Improving Perfomance</li>
    </ul>

</div>

<style>
    .centered{
       position:relative;
       margin:auto;
       width:50%;
    }
</style>